body {
    background-color: cadetblue;
}

section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 50px;
   text-align: center;
   /* Adicionar imagem com os dominós na seção. */
}

h1, label {
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

h1 {
    font-size: 40px;
}

.button {
    padding: 30px;
}

select {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 30%;
    justify-content: center;
}

button {
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.initialPieces {
    display: none;
}

.player_2 {
    border: solid 3px blue;
    height: 50px;
}

.piece {
    border: solid black 1px;
    height: 30%;
    width: 10%;
    background-image: linear-gradient(#000, #000);
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.div_face_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.div_face_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.face_1 {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
}

.face_2 {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
}