body {
    background-color: cadetblue;
}

section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 50px;
   text-align: center;
   /* Adicionar imagem com os dominós na seção. */
}

h1, label {
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

h1 {
    font-size: 40px;
}

.button {
    padding: 30px;
}

select {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 30%;
    justify-content: center;
}

button {
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.initialPieces {
    display: none;
}

.player_2 {
    border: solid 3px blue;
    width: 300%;
}

.piece {
    border: solid black 1px;
}

.face_1 {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
}

.face_2 {

}

.face_3 {

}

.face_4 {

}

.face_5 {

}

.face_6 {

}
