body {
    background-color: cadetblue;
}

section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 50px;
   text-align: center;
   width: 100%;
   /* Adicionar imagem com os dominós na seção. */
}

.initial-page {
    /* display: none; */
}

.piece-table {
  
}

h1, label {
    text-align: center;
    font-weight: bold;
    padding: 30px;
}

h1 {
    font-size: 40px;
}

.button {
    padding: 30px;
}

select {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 30%;
    justify-content: center;
}

button {
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.initialPieces {
   
}

.players {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* Não entendi porque as peças não estão dentro dessa div */
}

.player_2 {
    height: auto;
    /* Não entendi porque as peças não estão dentro dessa div */
}

.player_1 {
    height: auto;
    /* Não entendi porque as peças não estão dentro dessa div */
}

.player_1 > div {
    margin-bottom: 10px;
}

.player_2 > div {
    margin-bottom: 10px;
}


.piece {
    border: solid black 1px;
    height: 30px;
    width: 70px;
    background-image: linear-gradient(#000, #000);
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: white;
}

.div_face_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding: 3px;
}

.div_face_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding: 3px;
}

.face_1 {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
}

.face_2 {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
}